[submodule "source/vendor/packmp2-src"]
	path = source/vendor/packmp2-src
	url = https://github.com/YadeWira/packMP2
[submodule "source/vendor/packjpg-src"]
	path = source/vendor/packjpg-src
	url = https://github.com/YadeWira/packJPG
